html, body{
    font-family: sans-serif;
}

h1{
    font-size: 96px;
    margin: 1rem 0;
}
h2{
    font-size: 60px;
    margin: 1rem 0;
}
h3{
    font-size: 48px;
    margin: 1rem 0;
}
h4{
    font-size: 34px;
    margin: 1rem 0;
}
h5{
    font-size: 24px;
    margin: 1rem 0;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}