@import url("http://fonts.cdnfonts.com/css/monument-extended");
@font-face {
  font-family: MonumentExtended-Ultrabold;
  src: url("fonts/MonumentExtended-Ultrabold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: MonumentExtended-Regular;
  src: url("fonts/MonumentExtended-Regular.otf") format("opentype");
}
.b-sky {
  background-color: #22C9EF;
}

.b-sea {
  background-color: #1F5488;
}

.b-sun {
  background-color: #F9CA36;
}

.b-coral {
  background-color: #FB534B;
}

h1, h2, h3, h4 {
  font-family: "Monument Extended", sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

h4 {
  background-color: #000;
  background: -webkit-linear-gradient(-45deg, #000, #22C9EF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 22px;
  line-height: 1.7;
}

main {
  padding-top: 100px;
}
@media (max-width: 768px) {
  main {
    padding-top: 120px;
  }
}

header {
  width: 100%;
  padding: 10px 0px;
  border-bottom: 3px dotted rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 768px) {
  header {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 3px dotted rgba(0, 0, 0, 0.2);
  }
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .logo__link {
  display: flex;
}
header img {
  width: 220px;
}
header .hb {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
header .hb span {
  width: 100px;
  margin: 2px;
  height: 2px;
  background-color: #333;
}
@media (max-width: 768px) {
  header .hb span {
    width: 60px;
  }
}
header .hb.active span {
  background-color: #fff;
}
header.open {
  background-color: #333;
  border-bottom: 3px dotted rgba(255, 255, 255, 0.2);
}
header.open img {
  filter: invert(1);
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 55vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
@media (max-width: 768px) {
  .marquee {
    height: 20vh;
  }
}
.marquee .marquee__inner {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
}
.marquee .marquee__inner .content {
  font-size: 45vh;
  color: #333;
  font-weight: bold;
  opacity: 0.3;
  font-family: "Monument Extended", sans-serif;
}
@media (max-width: 768px) {
  .marquee .marquee__inner .content {
    font-size: 20vh;
  }
}

@keyframes marquee {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 2;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
nav .container {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav a {
  font-family: "Monument Extended", sans-serif;
  font-weight: 400;
  font-size: 25vh;
  color: #fff;
  text-decoration: none;
  display: flex;
  position: relative;
}
nav a span {
  padding-left: 5%;
  position: relative;
  z-index: 3;
}
@media (max-width: 768px) {
  nav a {
    font-size: 76px;
  }
}
nav a .marquee {
  position: absolute !important;
  height: 30vh !important;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
nav a .marquee .marquee__inner {
  animation: marquee 10s linear infinite !important;
}
nav a .marquee .content {
  font-size: 25vh !important;
  color: #000 !important;
  font-weight: 400 !important;
  opacity: 1 !important;
  font-family: "Monument Extended", sans-serif;
}
@media (max-width: 768px) {
  nav a .marquee .content {
    font-size: 76px !important;
  }
}
@media (max-width: 768px) {
  nav a .marquee {
    opacity: 1;
  }
}
nav a:hover .marquee {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hero .copy h2 {
  display: flex;
  align-items: flex-end;
  margin: 0;
  font-size: 52px;
  background-color: #000;
  background: -webkit-linear-gradient(-45deg, #000, #22C9EF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  .hero .copy h2 {
    font-size: 46px;
  }
}
.hero .copy__content p {
  margin: 0;
  font-size: 22px;
  line-height: 1.7;
}
.hero .copy__content .cta {
  position: relative;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 2rem;
}
.hero .copy__content .cta__link {
  text-decoration: none;
  font-family: "Monument Extended", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
}
.hero .copy__content .cta__link:after {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  content: "\f09b";
  font-size: 24px;
  margin-left: 10px;
}
.hero .copy__content .cta__hover {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #000;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
}
.hero .copy__content .cta:hover .cta__hover {
  border-radius: 60px;
  width: calc(100% + 60px);
  transition: width 0.5s ease-in-out;
}
.hero .copy__content .cta:hover .cta__link::after {
  color: #fff;
}
@media (max-width: 990px) {
  .hero .copy__content .cta .cta__hover {
    border-radius: 60px;
    width: calc(100% + 60px);
    transition: width 0.5s ease-in-out;
  }
  .hero .copy__content .cta .cta__link::after {
    color: #fff;
  }
}
.hero .images {
  position: relative;
}
.hero .images svg {
  position: absolute;
  z-index: 0;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero .images img {
  z-index: 1;
}

.block {
  border: none;
}
@media (max-width: 768px) {
  .block {
    border-top: 3px dotted rgba(0, 0, 0, 0.2);
  }
}
.block aside {
  background: none;
  border: none;
  padding: 0;
}
.block .copy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block .copy p {
  font-size: 22px;
  margin: 0;
}
.block .copy h1 {
  display: flex;
  justify-content: flex-end;
  font-size: 150px;
  line-height: 0.5;
}
@media (max-width: 990px) {
  .block .copy h1 {
    font-size: 100px;
  }
}
@media (max-width: 768px) {
  .block .copy h1 {
    font-size: 100px;
    line-height: 1;
  }
}
@media (max-width: 768px) {
  .block .copy {
    flex-direction: column-reverse;
  }
}
.block.text_right h1 {
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .block.text_left p {
    text-align: right;
  }
}

@media (max-width: 768px) {
  .col-reverse {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
}
.next {
  margin-top: 4rem;
  padding: 8em 0;
  background-color: #645CED;
}
.next .container {
  max-width: 100%;
}
.next p {
  padding-left: 5%;
  font-family: "Monument Extended", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #fff;
}
.next a {
  font-family: "Monument Extended", sans-serif;
  font-weight: 400;
  font-size: 25vh;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  position: relative;
}
.next a span {
  font-family: "Monument Extended", sans-serif;
  font-weight: 400;
  font-size: 42px;
  color: #fff;
}
@media (max-width: 768px) {
  .next a span {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .next a {
    font-size: 25vh;
  }
}
.next a .marquee {
  position: absolute !important;
  height: 30vh !important;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.next a .marquee .marquee__inner {
  animation: marquee 30s linear infinite !important;
}
.next a .marquee .content {
  font-size: 25vh !important;
  color: #fff !important;
  font-weight: 400 !important;
  opacity: 0.2 !important;
  font-family: "Monument Extended", sans-serif;
}
@media (max-width: 768px) {
  .next a .marquee .content {
    font-size: 25vh !important;
  }
}

@media (max-width: 768px) {
  footer p {
    font-size: 16px;
  }
}

::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}