// FONTS

@import url('http://fonts.cdnfonts.com/css/monument-extended');

@font-face {
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 400;
    src: local('Monument Extended'), url('https://fonts.cdnfonts.com/s/19595/MonumentExtended-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 800;
    src: local('Monument Extended'), url('https://fonts.cdnfonts.com/s/19595/MonumentExtended-Ultrabold.woff') format('woff');
}


// BREAKPOINTS
// ------------

$big-desktop: 1440px;
$desktop: 1281px;
$tablet: 990px;
$mobile: 768px;


// COLORS
// ------------

$sky: #22C9EF;
$sea: #1F5488;
$sun: #F9CA36;
$coral: #FB534B;

.b-sky{
    background-color: $sky;
}
.b-sea{
    background-color: $sea;
}
.b-sun{
    background-color: $sun;
}
.b-coral{
    background-color: $coral;
}

// TYPO
// ------------

h1, h2, h3, h4{
    font-family: 'Monument Extended';
    font-weight: 400;
    line-height: 1.4;
}